<div class="page-blade-area" [@positionAnimation]="currentPosition" #pageBladeArea>
  <div class="page-blade home-blade" [@fadeOut]>
    <h1>Home</h1>
    <app-home-page></app-home-page>
  </div>
  <div class="page-blade lighting-blade" [@fadeOut]>
    <h1>Lighting</h1>
    <app-lighting-controls></app-lighting-controls>
  </div>
  <div class="page-blade shade-blade" [@fadeOut]>
    <h1>Shades</h1>
    <app-shade-controls></app-shade-controls>    
  </div>
  <div class="page-blade settings-blade" [@fadeOut]>
    <h1>Settings</h1>
    <app-settings-page></app-settings-page>
  </div>
</div>