
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Crestron-Demo-Angular-primary: mat.define-palette(mat.$indigo-palette);
$Crestron-Demo-Angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Crestron-Demo-Angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Crestron-Demo-Angular-theme: mat.define-light-theme((
  color: (
    primary: $Crestron-Demo-Angular-primary,
    accent: $Crestron-Demo-Angular-accent,
    warn: $Crestron-Demo-Angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Crestron-Demo-Angular-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
  overflow-x: hidden;
  overscroll-behavior: none; /* Stop annoying iphone browser elastic nonsense */
}

body {
    position: relative;
    margin: 0;
    padding: 0;
  }

.mat-icon {
  vertical-align: middle; 
}

// Area Colours
$primaryColour: #353b48;//#FAFAFF; /* This is colour for main navigation etc... */
$primaryVariant: #17BEBB; /* Backup colour for main navigation */
$secondaryColour: #FAFAFF; //#F28482 /* Highlight colour for main navigation, buttons and floating actions */
$secondaryVariant: #5FB49C;//#FF6F59; /* Backup Highlight colour for main navigation, buttons and floating actions */
$errorColour: #ff2200;

$backgroundColour: #333333; //#FAFAFF
$surfaceColour: #111111;
//$navBarColour: #353b48;

// Colours On Areas
$onPrimaryColour: #FAFAFF;
$onSecondaryColour: #000000;
$onSecondaryVariantColour: #FFFFFF;
$onBackgroundColour: #FFFFFF;
$onSurfaceColour: #FFFFFF;
$onErrorColour: #000000;

// Shadows
$onBackgroundShadow: 7px 5px 10px rgba(255, 255, 255, 0.5);
$onSurfaceShadow: 8px 6px 10px rgba(0, 0, 0, 0.5);
$onSurfacePressedShadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
$onForegroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);

.ui-modules-area {
  height: 400px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  //background-color: red;
  background-color: $surfaceColour;
  box-shadow: $onSurfaceShadow;
  color: $onSurfaceColour;
  border-radius: 4px;
}

.inpage-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondaryColour;
  color: $onSecondaryColour;
  border-radius: 4px;
  box-shadow: $onSurfaceShadow;
}

.inpage-button:active {
  background-color: $secondaryVariant;
  color: $onSecondaryVariantColour;
  transform: scale(0.9);
  box-shadow: $onSurfacePressedShadow;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.control-area {
  display: flex;
}

@media (max-width: 700px) {
  .control-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    //max-width: 300px;
  }

  .ui-modules-area {
    width: 90vw;
    margin: 5% 0;
  }
}