
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Crestron-Demo-Angular-primary: mat.define-palette(mat.$indigo-palette);
$Crestron-Demo-Angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Crestron-Demo-Angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Crestron-Demo-Angular-theme: mat.define-light-theme((
  color: (
    primary: $Crestron-Demo-Angular-primary,
    accent: $Crestron-Demo-Angular-accent,
    warn: $Crestron-Demo-Angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Crestron-Demo-Angular-theme);

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
  }

.mat-icon {
  vertical-align: middle; 
}

// Area Colours
$primaryColour: #FAFAFF;
$primaryVariant: #17BEBB;
$secondaryColour: #FF6F59;
$secondaryVariant: #A5B452;
$errorColour: #ff2200;

$backgroundColour: #50514F; //#FAFAFF
$surfaceColour: #353b48;

// Colours On Areas
$onPrimaryColour: #000000;
$onSecondaryColour: #000000;
$onBackgroundColour: #000000;
$onSurfaceColour: #000000;
$onErrorColour: #000000;

// Shadows
$onBackgroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
$onForegroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
